<div class="planner-container">

  <!-- HEADER -->
  <div class="planner-header">
    <button (click)="changeMonth(-1)">‹</button>

    <h2>
      {{ currentYear }} -
      {{ currentMonth + 1 }}
    </h2>

    <button (click)="changeMonth(1)">›</button>
  </div>

  <!-- CALENDAR -->
  <table class="planner-table">
    <thead>
      <tr>
        <th class="name-col">Name</th>
        <th *ngFor="let d of daysInMonth">
          {{ d }}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let u of users">
        <td class="name-col">
          {{ u.name }}
        </td>

        <td *ngFor="let d of daysInMonth"
            class="day-cell"
            (click)="toggleLeave(u.id, d)">
          {{ leavesMap.get(u.id + '_' + getDate(d)) || '' }}
        </td>
      </tr>
    </tbody>
  </table>

</div>
